html {
  font-size: 0.8em;
}

#login-form {
  width: 200px;
}

#sidebar,
#markdown-panel {
  padding-top: 20px;
}

#header-user {
  margin-right: 10px;
  color: hsla(0, 0%, 89%, 0.9);
  display: none;
}
#logout-btn {
  display: none;
}

#list-of-docs {
  text-align: left;
}

.footer {
  background-color: #f5f5f5;
  font-size: 0.7em;
}
.nav-form {
  padding: 10px;
}
.site-title-link {
  text-align: center;
  margin: 10px 0;
}
.table-of-contents {
  text-align: center;
}

.navbar {
  background-color: hsla(0, 0%, 0%, 0.9);
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand img {
  height: 40px;
}
