A:LINK,A:VISITED {
	color: blue;
	text-decoration: none;
}
A:ACTIVE {
	color: blue;
	text-decoration: underline;
}

DIV.HEADER {
	font-size: small;
}
DIV.FOOTER {
	font-size: small;
}

DIV.PAGE {
    border: 2px solid grey;
    padding: 20px;
    border-radius: 10px;
}

DIV.CONTENTS {
    border: 2px solid grey;
    padding: 20px;
    border-radius: 10px;
}